body {
    // font-size: 24px;
    input {
        width: 50%;
        padding: 10px 3px 10px 3px;
    }
    button {
        width: 50%;
        background-color: white;
        // height: 7rem;
        // padding: 10px;
    }
    background-color: rgb(255, 170, 0);
    text-align: center;
}
