


.All-Cities-Container {


    li {
        list-style-type: none;
        
        
        button {
            border-radius: 5px;
            width: 20rem;
            height: 8rem;
            background-color: white;
            cursor: pointer;
            border-style: none;
            // border-color: black;
            padding: 0;
            margin-bottom: 4px;
        }
    }

    .Individual-City-Container {
        display: grid;
        // align-items: stretch;
        grid-template-columns: 3fr 1fr;

        

        .Name-Geo-Item {
           
            font-size: 16px;
            h6 {
                
                margin-top: 2.5rem;
            }
        }
    
        .AQI-Item {
            
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            height: 8rem;
            
        }
        .good {
            background-color: #096;
        }
        .moderate {
            background-color: #ffde33;
        }
        .unhealthy-sensitive {
            background-color: #ff9933;
        }
        .unhealthy {
            background-color: #c03;
        }
        .very-unhealthy {
            background-color: #609;
        }
        .hazardous {
            background-color: #7e0023;
        }
        .AQI-Unavail {
            background-color: black;
        }
        
    }

    
}
    
@media only screen and (max-width: 600px) {

    .All-Cities-Container {
        li {
            list-style-type: none;

            button {
                border-radius: 20px;
                width: 20rem;
                height: 6rem;
                background-color: white;
                
                
                padding: 0;
                margin-bottom: 4px;
            }
        }
        .Individual-City-Container {
            .Name-Geo-Item {
           
                font-size: 14px;
                h6 {
                    margin-top: 1.5rem;
                }
                
            }
            .AQI-Item {
            
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                height: 6rem;
                justify-items: center;
                
            }
        }

    }
}


    
