.Individual-City {
    background-color: white;
    border-radius: 3%;
    // margin-left: 3rem;
    // margin-right: 3rem;
    h1 {

        margin: 0rem 3rem;
    }
}

@media only screen and (max-width: 600px) {
    .Individual-City {
        font-size: 12px;
        width: 100%;
        
    }
}
@media only screen and (max-width: 800px) {
    .Individual-City {
        font-size: 12px;
    }
}