@font-face {
  font-family: "YujiSyuku-Regular";
  src: url("../../assets/fonts/YujiSyuku-Regular.ttf") format("truetype");
}

h4, h6, div {
  margin: 0;
}

html, body {
  font-family: "YujiSyuku-Regular", Fallback, sans-serif;
  margin: auto 0;
  padding: 0;
  text-align: center;
  background-color: #ffaa00;
}

#homepage {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10rem;
  margin-bottom: 30px;
  font-size: 18px;
}

#homepage h1 {
  font-size: 50px;
}

#flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 600px) {
  #homepage {
    margin-top: 1rem;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.Graph {
  background-color: whitesmoke;
  border-radius: 3px;
}

.Individual-City {
  border-radius: 3%;
}

@media only screen and (max-width: 600px) {
  .Individual-City {
    font-size: 12px;
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .Individual-City {
    font-size: 12px;
  }
}

.Search-Bar {
  width: 100%;
}

.Search-Bar button {
  width: 60px;
  height: 40px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid black;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
}

.Search-Bar button:hover {
  background-color: #00ffaa;
}

.Search-Bar input {
  width: 32rem;
  padding: 10px 3px 10px 3px;
  margin-bottom: 2rem;
  border: 1px solid black;
}

.Search-Bar input:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  .Search-Bar input {
    width: 20rem;
  }
}

@media only screen and (max-width: 400px) {
  .Search-Bar input {
    width: 15rem;
  }
}

.All-Cities-Container li {
  list-style-type: none;
}

.All-Cities-Container li button {
  border-radius: 5px;
  width: 20rem;
  height: 8rem;
  background-color: white;
  cursor: pointer;
  border-style: none;
  padding: 0;
  margin-bottom: 4px;
}

.All-Cities-Container .Individual-City-Container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

.All-Cities-Container .Individual-City-Container .Name-Geo-Item {
  font-size: 16px;
}

.All-Cities-Container .Individual-City-Container .Name-Geo-Item h6 {
  margin-top: 2.5rem;
}

.All-Cities-Container .Individual-City-Container .AQI-Item {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 8rem;
}

.All-Cities-Container .Individual-City-Container .good {
  background-color: #096;
}

.All-Cities-Container .Individual-City-Container .moderate {
  background-color: #ffde33;
}

.All-Cities-Container .Individual-City-Container .unhealthy-sensitive {
  background-color: #ff9933;
}

.All-Cities-Container .Individual-City-Container .unhealthy {
  background-color: #c03;
}

.All-Cities-Container .Individual-City-Container .very-unhealthy {
  background-color: #609;
}

.All-Cities-Container .Individual-City-Container .hazardous {
  background-color: #7e0023;
}

.All-Cities-Container .Individual-City-Container .AQI-Unavail {
  background-color: black;
}

@media only screen and (max-width: 600px) {
  .All-Cities-Container li {
    list-style-type: none;
  }
  .All-Cities-Container li button {
    border-radius: 20px;
    width: 20rem;
    height: 6rem;
    background-color: white;
    padding: 0;
    margin-bottom: 4px;
  }
  .All-Cities-Container .Individual-City-Container .Name-Geo-Item {
    font-size: 14px;
  }
  .All-Cities-Container .Individual-City-Container .Name-Geo-Item h6 {
    margin-top: 1.5rem;
  }
  .All-Cities-Container .Individual-City-Container .AQI-Item {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 6rem;
    justify-items: center;
  }
}
/*# sourceMappingURL=index.css.map */